
  @import url('https://fonts.googleapis.com/css2?family=Phudu&display=swap');

* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;

    }

body {
    font-family: Phudu; 
    background-color: #dae9fc; 
}

header {
    background-color: #7ba6e6;
    color: #fff; 
    text-align: center; 
    padding: 2rem; ;
}

header h1 {
    margin-bottom: 30px;
}

nav ul {
    list-style: none;
}

nav li {
    display: inline; 
    margin-right: 35px;

}

nav a {
    text-decoration: none; 
    color: #fff; 
    font-weight: bold; 
    }

main {
    padding: 50px; 
    overflow: hidden; 
}

.card {
    width: calc(33.33% - 70px); 
    margin: 35px;
    padding: 20px;
    background-color: #fff; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    text-align: center; 
    float: left; 
    }

.card img {
    max-width: 100%; 
    height: 350px; 
}

.card button {
    font-family: Phudu;
    background-color: #7ba6e6;
    color: #fff;
    border: none;
    padding: 13px 21px;
    margin-top: 25px;
    cursor: pointer; 
    transition: background-color 0.3s ease; 
    border-radius: 20px;
}

.card button:hover {
    background-color: #51659c; 
}

footer {
    background-color: #668cc5;
    color: #fff;
    text-align: center;
    padding: 1rem;
}

nav li {
    transition: all 0.3s ease; 
}

nav li:hover {
    background-color: #51659c;
    border-radius: 15px;
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer; 
    transition: all 0.3s ease; 
}

